<%- include('./partials/head') %>

<header>
  <p>Sorteren op:</p>
  <select>
    <option>Naam A-Z</option>
    <option>Naam Z-A</option>
    <option>ID laag-hoog</option>
    <option>ID hoog-laag</option>
  </select>
  <input type="search" />
  Zoeken
</header>

<main>
  <h2>12 Resultaten</h2>
  <div class="container">
    <% persons.forEach(person => { %>
    <article>
      <img src="<%= person.avatar %>" width="150px" />
      <h3><%= person.name %> <%= person.surname %></h3>

      <h4>Squad <%= person.squad_id %></h4>
      <ul>
        <li><%= person.id %></li>
        <li><%= person.website %></li>
        <li><%= person.github_handle %></li>
      </ul>
    </article>
    <% }) %>
  </div>
</main>
<%- include('./partials/foot') %>
