<%- include('./partials/head') %>

<header></header>

<main>
  <header>
    <h2>21 Resultaten</h2>
    <div class="sorting">
      <p>Sorteren op:</p>
      <select onchange="saveSelectedOption(this); location = this.value;">
        <option value="/">Standaard</option>
        <option value="/?sort=name">Naam A-Z</option>
        <option value="/?sort=-name">Naam Z-A</option>
        <option value="/?sort=id">ID laag-hoog</option>
        <option value="/?sort=-id">ID hoog-laag</option>
      </select>
    </div>
  </header>
  <div class="container">
    <% persons.forEach(person => { %>
    <article>
      <form method="POST" action="/">
        <span><%= person.custom?.likes ? person.custom.likes : 0 %></span>
        <button type="submit" name="like">Like</button>
      </form>
      <button type="submit" name="like">
        <img src="./assets/up-arrow.png" />
      </button>
      <p class="like-counter"><%= 0 %></p>
      <img
        class="avatar"
        src="<%= person.avatar %>"
        width="150px"
        height="150px"
        alt="avatar"
      />
      <h3><%= person.name %> <%= person.surname %></h3>

      <h4>ID #<%= person.id %></h4>
      <ul>
        <li>
          <img
            class="github"
            src="./assets/internet.png"
            width="30px"
            alt="website"
          />
          <a href="<%= person.website %>"><%= person.website %></a>
        </li>
        <li>
          <img
            class="github"
            src="./assets/github.png"
            width="30px"
            alt="github"
          />
          <span>@<%= person.nickname %></span>
        </li>
      </ul>
      <div class="like-dislike">
        <div class="like">
          <img
            class="like-icon"
            src="./assets/up-arrow.png"
            width="30px"
            alt="like"
          />
          <span class="number">0</span>
        </div>
        <div class="dislike">
          <span class="number">0</span>
          <img
            class="dislike-icon"
            src="./assets/down-arrow.png"
            width="30px"
            alt="dislike"
          />
        </div>
      </div>
    </article>
    <% }) %>
  </div>
</main>
<%- include('./partials/foot') %>
